


/* Style for all headers (h1) */
h1 {
  font-size: 28px; /* setting the font size */
  color: white; /* setting the color */
  text-align: left; /* centering the text */
}


/* Style for general text to increase visibility */
p, li {
  font-size: 38px; /* Sets a readable default font size */
  color: white; /* Sets color to black for better readability */
}


/* Specific style for list items to ensure they are clear */
li {
  margin-bottom: 10px; /* Adds space below each list item */
}

/* Style for images */
img {
  width: 100%; /* setting the width to 100% of its container */
  height: auto; /* maintaining the aspect ratio */
  border-radius: 8px; /* adding rounded corners to the image */
}

/* Style for links */
a {
  color: blue; /* color for links */
  text-decoration: none; /* removing underline from links */
}

a:hover {
  text-decoration: underline; /* adding underline on hover for links */
}

